<!-- ======= Services Section ======= -->
<section id="service" class="services-mf pt-5 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center pt-5">
                    <h3 class="title-a text-light">
                        Skills
                    </h3>
                    <p class="subtitle-a text-light">
                        These are some of my  skills
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class='fab fa-java'></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">JAVA</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fab fa-angular"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Javascript</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fab fa-python"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">PYTHON</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fab fa-git "></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Git</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fab fa-html5 "></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">HTML 5</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fab fa-css3-alt "></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">CSS 3</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fab fa-cuttlefish"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">C programming</h2>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section><!-- End Services Section -->