<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 pb-5 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center pt-5">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">
                        Some projects that I have done
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div  class="col-md-4">
                <div class="work-box">
                    <a href="" data-gall="portfolioGallery" target="_blank">
                        <div class="work-img">
                            <img src="assets/img/spring.png" alt="Project Portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Tn Shop</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Application</span> / <span class="w-date">2021</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like pl-3">
                                    <a href="" target="_blank"> <span class="ion-android-globe"></span></a>
                                </div>
                                <div class="w-like">
                                    <a href="https://github.com/NesrineKata/SpringBootproject" target="_blank"> <span class="ion-social-github"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="col-md-4">
                <div class="work-box">
                    <a href="" data-gall="portfolioGallery" target="_blank">
                        <div class="work-img">
                            <img src="assets/img/python.png" alt="Project Portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Falcon Tunisia</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Desktop Application</span> / <span class="w-date">2019</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like pl-3">
                                    <a href="" target="_blank"> <span class="ion-android-globe"></span></a>
                                </div>
                                <div class="w-like">
                                    <a href="https://github.com/NesrineKata/VideoSurveillance" target="_blank"> <span class="ion-social-github"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="col-md-4">
                <div class="work-box">
                    <a href="" data-gall="portfolioGallery" target="_blank">
                        <div class="work-img">
                            <img src="assets/img/cProject.png" alt="Project Portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">School Management System</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Desktop Application</span> / <span class="w-date">2017</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like pl-3">
                                    <a href="" target="_blank"> <span class="ion-android-globe"></span></a>
                                </div>
                                <div class="w-like">
                                    <a href="https://github.com/NesrineKata/CProject" target="_blank"> <span class="ion-social-github"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="col-md-4">
                <div class="work-box">
                    <a href="" data-gall="portfolioGallery" target="_blank">
                        <div class="work-img">
                            <img src="assets/img/portfolio.png" alt="Project Portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Portfolio</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web </span> / <span class="w-date">2021</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like pl-3">
                                    <a href="" target="_blank"> <span class="ion-android-globe"></span></a>
                                </div>
                                <div class="w-like">
                                    <a href="https://github.com/NesrineKata/portfolio" target="_blank"> <span class="ion-social-github"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       
    </div>
   
</section><!-- End Portfolio Section -->